.page {
  margin: auto;
  position: relative;
  min-height: 100vh;
}

@bannerHeight: 300px;

.banner-container {
  background: url(~'@{cdnPrefix}/t-cdn/images/banner.jpg');
  background-repeat: no-repeat;
  background-size: 205%;
  background-position: 39% 46%;
  width: 100%;
  height: @bannerHeight;
}

@minusMt: 50px;

.black-linear {
  margin-top: -@minusMt;
  position: relative;
  background: rgb(2, 2, 2);
  background: linear-gradient(0deg, rgba(2, 2, 2, 1) 0%, rgba(2, 2, 2, 1) 88%, rgba(0, 0, 0, 0) 100%);
  min-height: calc(100vh - @bannerHeight + @minusMt);
  padding-top: @minusMt;
}

.content-wrapper {
  min-height: calc(100vh - @bannerHeight);
  background-color: #fff;
  border-radius: 32px 32px 0 0;
  padding-top: 2px;
}

.sub-intro {
  color: #b8b8b8;
  padding: 0 20%;
}
